body{
    margin: 0;
}
.body-container{
margin:0;
}
.header_menu {
    height: 56px;
    width: 100%;
    background-image: url(../images/wood.jpg);
    background-size: cover;
    margin: 0;
    padding:0;
    position: fixed;
    display:flex;
    justify-content:space-between;
}
.menu{
display:contents;
    margin: 0;
    padding: 0;
    font-size: 35px;

}
 .menu-element {
    display: inline-block;
    margin: 0;
    padding: 0;
    color:#4682B4;
    text-align: center;

}
a{
  display: block;
  padding: 5px 25px;
  text-decoration: none;
}
a:hover{
text-decoration: underline; }

.header_pic {
    width: 100%;
    height: 550px;
    background-image: url(../images/cup.jpg);
    background-size:cover;
    display:flex;
}
.p_header{
margin:65px;
}
.header_pic_text {
    display:block;
    left:0;
    bottom:40px;
    width:100%;
    font-family: "Monotype Corsiva" ,cursive;
    font-size:40px;
    color:#fff;
    text-align: center;
}

.header_logo {
    background-image: url(../images/logotip.jpg);
    background-size: cover;
    width:55px;
    height: 55px;
    }
.content{
    max-width: 1200px;
    margin: auto;

}
.name_company_picture{
    padding: 5px;
    width: 100%;
    height: 48px;
    background-color: antiquewhite;
}
.name_company_text{
    display:block;
    font-family: "Monotype Corsiva" ,cursive;
    font-size:45px;
    color:navy;
    padding:0;
    text-align: center;
}
.car {
width:100%;
display:flex;
justify-content:center;
background-color: #FFDAB9;
}
.carousel-hider {
    width: 910px;
    overflow: hidden;
   /* background-color: #FFDAB9;*/
}
.carousel-list {
 padding-left:100px;
    list-style: none;
    padding: 15px;
    display:flex;
 }
.carousel-element {
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 200px;
}
.carousel-element img {
    width: 200px;
    height: 200px;
}
#carousel-arrow-left img, #carousel-arrow-right img{
    display: inline-flex;
    height:25px;
    padding: 5px;
     width: 55px;
     margin-top: 95px;
    }

#carousel-arrow-left:hover, #carousel-arrow-right:hover {
    cursor: pointer;

}
.main_opinion{
     background-image: url(../images/wood.jpg);
    text-align: center;
    font-size: 30px;
}

.opinion-block {
    margin-top: 30px;
}
.opinion-item {
    margin: 0 0 0 17px;
    padding: 0;
    list-style: none;
}
.opinion-list .opinion-item {
    margin-bottom: 15px;
    line-height: 15px;
}
.opinion-list .opinion-item:nth-of-type(n+5) {
    display: none;
}
.opinion-list .opinion-item:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -16px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background:#FFDAB9;
}
.opinion-item img{
    height: 15px;
    width: 15px;
}
.show-hide-btn,
.show-hide-btn1 {
    display: inline-flex;
    align-items: center;
    height: 29px;
    font-family: 'Roboto Slab';
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.show-hide-btn:hover,
.show-hide-btn1:hover {
    background: #FBBC25;
    color: #333;
}
.show-hide-btn .fa,
.show-hide-btn1 .fa {
    margin-left: 5px;
    font-size: 13px;
}
.opinion-item:nth-child(n+5) {
    display: none;
}
.works{
    background-image: url(../images/opinion_pic.jpg);
    text-align: center;
    font-size: 25px;

}
.footer-main{
width:100%;
}
.footer {
    display: flex;
    height: 40px;
    width: 100%;
    background-image: url(../images/wood.jpg);
    background-size: cover;
    margin: 0px;
    padding: 5px;

}
.foot{
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 25px;
    width: 1200px;
}
 .footer_content {
    display: inline-block;
    margin: 0;
    padding: 0;
    color:#8B4513;
}
.copy{
    display: inline-flex;
    margin: 0;
    text-align: right;
    font-size: 15px;
    width: 100%;
    }
.copy_element{
    color:white;
}
.copyright{
    height: 60px;
    width: 100%;
    background-image: url(../images/picwood.jpg);
    background-size: cover;
    margin: 0px;
    padding: 5px;
    color: #7FFFD4;
    font-size: 21px;
    display:flex;
    justify-content:space-between;
}
.content__gallery{
    width: 100%;
    background-color: #F0FFF0;
}
.gallery-line {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
        justify-content:space-between;
}
.gallery-line-image{
    background-size: cover;
    width: 230px;
    margin: 25px;
    height: 240px;
    padding: 10px;
}
.o1{
    background-image: url(../images/house1.jpg);
}
.o2{
    background-image: url(../images/house2.jpg);
}
.o3{
    background-image: url(../images/house3.jpg);
}
.o4{
    background-image: url(../images/house4.jpg);
}
.o5{
    background-image: url(../images/house5.jpg);
}
.o6{
    background-image: url(../images/house6.jpg);
}
.o7{
    background-image: url(../images/house7.jpg);
}
.o8{
   background-image: url(../images/house8.jpg);
}
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8);
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 420px;
    height:320px;
}

/* The Close Button */
.closess {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closess:hover,
.closess:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.popup_1 {
    background-color: #F0F8FF;
}
.popup_2 {
    background-color: #ADD8E6;
}
.popup_3 {
    background-color: #DA70D6;
}
.popup_4 {
    background-color: #fefefe;
}
.popup_5 {
    background-color: #FFC0CB;
}
.popup_6 {
    background-color: #00BFFF;
}
.popup_7 {
    background-color: 	#FFD700;
}
.popup_8 {
    background-color: 	#E6E6FA;
}
.popup-carousel {
width:100%;
display:flex;
justify-content:center;
background-color: #FFDAB9;
}
.popup-carousel-hider {
    width: 200px;
    overflow: hidden;
}
.popup-carousel-list1{
    list-style: none;
    padding: 15px;
    display:flex;
 }
 .popup-carousel-list2{
     list-style: none;
     padding: 15px;
     display:flex;
  }
.popup-carousel-list3{
 list-style: none;
 padding: 15px;
display:flex;
    }
.popup-carousel-list4{
  list-style: none;
 padding: 15px;
 display:flex;
      }
.popup-carousel-list5{
 list-style: none;
 padding: 15px;
display:flex;
        }
.popup-carousel-list6{
list-style: none;
padding: 15px;
display:flex;
          }
 .popup-carousel-list7{
list-style: none;
 padding: 15px;
 display:flex;
          }
 .popup-carousel-list8{
 list-style: none;
 padding: 15px;
 display:flex;
  }
.popup-carousel-element {
display: flex;
flex-wrap: wrap;
flex: 0 0 200px;
margin-right: 25px;
/*width:200px;*/
height:155px;
background-size: cover;

}
/*.popup-carousel-element img {
    width:200px;
    height:150px;
}*/
#popup-carousel-arrow-left img, #popup-carousel-arrow-right img{
    display: inline-flex;
    height:25px;
     width: 25px;
    }

#popup-carousel-arrow-left:hover, #popup-carousel-arrow-right:hover {
    cursor: pointer;

}
#popup-carousel-arrow-left1 img, #popup-carousel-arrow-right1 img{
    display: inline-flex;
    height:25px;
     width: 25px;

    }

#popup-carousel-arrow-left1:hover, #popup-carousel-arrow-right1:hover {
    cursor: pointer;
}
#popup-carousel-arrow-left2 img, #popup-carousel-arrow-right2 img{
    display: inline-flex;
    height:25px;
    padding: 5px;
     width: 25px;
    }

#popup-carousel-arrow-left2:hover, #popup-carousel-arrow-right2:hover {
    cursor: pointer;
}


#popup-carousel-arrow-left3 img, #popup-carousel-arrow-right3 img{
    display: inline-flex;
    height:25px;
    padding: 5px;
     width: 25px;
        }

#popup-carousel-arrow-left3:hover, #popup-carousel-arrow-right3:hover {
    cursor: pointer;

}
#popup-carousel-arrow-left4 img, #popup-carousel-arrow-right4 img{
    display: inline-flex;
    height:25px;
    padding: 5px;
     width: 25px;
        }
        #popup-carousel-arrow-left4:hover, #popup-carousel-arrow-right4:hover {
            cursor: pointer;

        }

      #popup-carousel-arrow-left5 img, #popup-carousel-arrow-right5 img{
          display: inline-flex;
          height:25px;
           width: 25px;
          }

      #popup-carousel-arrow-left5:hover, #popup-carousel-arrow-right5:hover {
          cursor: pointer;

      }
      #popup-carousel-arrow-left6 img, #popup-carousel-arrow-right6 img{
          display: inline-flex;
          height:25px;
           width: 25px;
          }

      #popup-carousel-arrow-left6:hover, #popup-carousel-arrow-right6:hover {
          cursor: pointer;

      }


  #popup-carousel-arrow-left7 img, #popup-carousel-arrow-right7 img{
          display: inline-flex;
          height:25px;
           width: 25px;
          }

      #popup-carousel-arrow-left7:hover, #popup-carousel-arrow-right7:hover {
          cursor: pointer;

      }
.o1:hover {
  background-image: linear-gradient(to top, black 0%, transparent 100%),url(../images/house1.jpg);;
  background-size: cover;
  background-position: center;
  cursor:pointer;
}
.o2:hover {
  background-image: linear-gradient(to top, black 0%, transparent 100%),url(../images/house2.jpg);;
  background-size: cover;
  background-position: center;
  cursor:pointer;
}
.o3:hover {
  background-image: linear-gradient(to top, black 0%, transparent 100%),url(../images/house3.jpg);;
  background-size: cover;
  background-position: center;
  cursor:pointer;
}
.o4:hover {
  background-image: linear-gradient(to top, black 0%, transparent 100%),url(../images/house4.jpg);;
  background-size: cover;
  background-position: center;
  cursor:pointer;
}
.o5:hover {
  background-image: linear-gradient(to top, black 0%, transparent 100%),url(../images/house5.jpg);;
  background-size: cover;
  background-position: center;
  cursor:pointer;
}
.o6:hover {
  background-image: linear-gradient(to top, black 0%, transparent 100%),url(../images/house6.jpg);;
  background-size: cover;
  background-position: center;
  cursor:pointer;
}
.o7:hover {
  background-image: linear-gradient(to top, black 0%, transparent 100%),url(../images/house7.jpg);;
  background-size: cover;
  background-position: center;
  cursor:pointer;
}
.o8:hover {
  background-image: linear-gradient(to top, black 0%, transparent 100%),url(../images/house8.jpg);;
  background-size: cover;
  background-position: center;
  cursor:pointer;
}
.image-cat{
background-image: url(../images/cat.jpg);
}
.image-cat1{
background-image: url(../images/cat2.jpg);
}
.image-cat2{
background-image: url(../images/cat3.jpg);
}
.image-apple1{
background-image: url(../images/apple1.jpg);
}
.image-apple2{
background-image: url(../images/apple2.jpg);

}
.image-apple3{
background-image: url(../images/apple3.jpg);
}
.image-h2{
background-image: url(../images/h2.jpg);
}
.image-h3{
background-image: url(../images/h3.jpg);
}
.image-h5{
background-image: url(../images/h5.jpg);
}
.image-h6{
background-image: url(../images/h6.jpg);
}
.image-h7{
background-image: url(../images/h7.jpg);
}
.image-h8{
background-image: url(../images/h8.jpg);
}
.image-h9{
background-image: url(../images/h9.jpg);
}
.image-h10{
background-image: url(../images/h10.jpg);
}
.image-h11{
background-image: url(../images/h11.jpg);
}
.image-h12{
background-image: url(../images/h12.jpg);
}
.image-h13{
background-image: url(../images/house1int.jpg);
}
.image-h14{
background-image: url(../images/house1int1.jpg);
}
.image-dog1{
background-image: url(../images/dog1.jpg);
}
.image-dog2{
background-image: url(../images/dog2.jpg);
}
.image-dog3{
background-image: url(../images/dog3.jpg);
}
.image-bird1{
background-image: url(../images/bird1.jpg);
}
.image-bird2{
background-image: url(../images/bird2.jpg);
}
.image-bird3{
background-image: url(../images/bird3.jpg);
}