body{
    margin: 0;
}
.menu{
    margin: 0;
    padding-bottom: 400;
    text-align: center;
    font-size: 35px;
}
 .menu-element {
    display: inline-block;
    margin: 0;
    padding: 0;
    color:#4682B4;
}
a {
  display: block;
  padding: 3px 15px;
  text-decoration: none;
}
.header_menu {
    height: 56px;
    width: 100%;
    background-image: url(../images/wood.jpg);
    background-size: cover;
    margin: 0;
    position: fixed;
    padding: 5px;

}

.header_pic {
    padding: 5px;
    width: 100%;
    height: 550px;
    background-image: url(../images/cup.jpg);
    background-size:cover;
}
.header_pic_text {
    display:block;
    left:0;
    bottom:40px;
    width:100%;
    font-family: "Monotype Corsiva" ,cursive;
    font-size:40px;
    color:#fff;
    padding:25px;
    text-align: center;
}

.header_logo {
    background-image: url(../images/logotip.jpg);
    background-size: cover;
    width:55px;
    height: 55px;
    float:left;
    }
.content{
    max-width: 1200px;
    margin: auto;

}
.name_company_picture{
    padding: 5px;
    width: 100%;
    height: 48px;
    background-color: antiquewhite;
}
.name_company_text{
    display:block;
    left:0;
    bottom:0;
    width:100%;
    font-family: "Monotype Corsiva" ,cursive;
    font-size:45px;
    font-weight:200;
    color:navy;
    padding:3px;
    text-align: center;
}

.carousel-hider {
    width: 910px;
    overflow: hidden;
    margin: 0 auto;
   /* margin-left: 80px;
    margin-right: 80px;
   /*background-image: url(picwood.jpg);*/
    background-color: #FFDAB9;
}

.carousel-list {
    list-style: none;
    padding: 15px;
    display:flex;
     background-color: #FFDAB9;
}

.carousel-element {
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 200px;

}

.carousel-element img {
    width: 200px;
    height: 200px;
}


#carousel-arrow-left, #carousel-arrow-right {
    display: inline-flex;
    border: 1px solid grey;
    background-color: lightgrey;
   padding: 5px;
    }

#carousel-arrow-left:hover, #carousel-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}

}
.car{
    background-color:#FFDAB9;
    width:100%;
    display: flex;
}

.main_opinion{
     background-image: url(../images/wood.jpg);
    text-align: center;
    font-size: 30px;
}

.opinion-block {
    margin-top: 30px;
}
.opinion-item {
    margin: 0 0 0 17px;
    padding: 0;
    list-style: none;
}
.opinion-list .opinion-item {

    margin-bottom: 15px;
    line-height: 15px;
}
.opinion-list .opinion-item:nth-of-type(n+5) {
    display: none;
}
.opinion-list .opinion-item:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -16px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background:#FFDAB9;
}
.opinion-item img{
    height: 15px;
    width: 15px;
}
.show-hide-btn,
.show-hide-btn1 {
    display: inline-flex;
    align-items: center;
    height: 29px;
    font-family: 'Roboto Slab';
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.show-hide-btn:hover,
.show-hide-btn1:hover {
    background: #FBBC25;
    color: #333;
}
.show-hide-btn .fa,
.show-hide-btn1 .fa {
    margin-left: 5px;
    font-size: 13px;
}
.opinion-item:nth-child(n+5) {
    display: none;
}

.popup-checkbox, .popup {
  display: none;
}

.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.popup:before {
  display: block;
  content: ' ';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
}

.popup-content {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*.popup-shower {
  color: #00f;
  cursor: pointer;
  text-decoration: underline;
}*/

.popup-shower:hover {
 display: inline-block;
 align-content: center;
}
.popup-shower img{
    display: inline-block;
        height: 250px;
        width: 250px;

    }
.popup-wrapper {
position:center;
justify-content:center;
}
.popup-closer {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #999;
  font-size: 20px;
  border: 1px solid #999;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup-closer:hover {
  background-color: #eee;
}
.popup-closer img {
    width: 150px;
    height: 150px;
}
.popup-checkbox:checked + .popup {
  opacity: 1;
  display: block;
}

.works{
    background-image: url(../images/opinion_pic.jpg);
    text-align: center;
    font-size: 25px;

}

.footer {
    display: flex;
    height: 40px;
    width: 100%;
    background-image: url(../images/wood.jpg);
    background-size: cover;
    margin: 0px;
    padding: 5px;

}
.foot{
    display: inline-block;
    margin: 0;

    text-align: center;
    font-size: 25px;
    width: 1200px;
}
 .footer_content {
    display: inline-block;
    margin: 0;
    padding: 0;
    color:#8B4513;
}
.copy{
    display: inline-flex;
    margin: 0;
    text-align: right;
    font-size: 15px;
    width: 1200px;
    }
.copy_element{
    color:white;

}
.copyright{
    height: 60px;
    width: 100%;
    background-image: url(../images/picwood.jpg);
    background-size: cover;
    margin: 0px;
    padding: 5px;
    text-align: right;
    color: #7FFFD4;
    font-size: 23px;
}
